<!DOCTYPE html>
<html>
  <% include ./ejs/head %>

<body>
  <main>
    <div class="cover">

      <% include ./ejs/header %>

      <section class="central">
        <div class="presentacion">
          <div class="phone"><span class="material-symbols-outlined">phone_iphone</span> +5492914121109</div>
          <h1 class="title">Encontra la casa de tus sueños!</h1>
          <h4 class="subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam id quae, a possimus,
          </h4>
          <button type="button">Contactanos!</button>

        </div>
        <div class="contacto" id="contacto">
          <h3>Necesitas Ayuda?</h3>
          <h2>Escribinos</h2>
          <form action="https://formsubmit.co/corvattafranco@gmail.com" method="POST">
            <label for="name"></label>
            <input class="forms" placeholder="Nombre" type="text" id="name" name="name" required>
            <label for="email"></label>
            <input class="forms" placeholder="Email" type="email" id="email" name="email" required>
            <label for="message"></label>
            <textarea class="forms" placeholder="Mensaje" id="message" name="message" rows="5" required></textarea>
            <input class="form-button" type="submit" value="Enviar Mensaje">
            <input type="hidden" name="_next" value="http://localhost:3000/">
          </form>

        </div>
      </section>

    </div>

  </main>

  <section class="listed-properties">

    <div class="cards" id="cards">


        <% featPropiedades.forEach(propiedad=> { %>
            <div class="card">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <% propiedad.fotos.forEach(foto=> { %>
                            <div class="swiper-slide">
                                <img class="swiper-slide-img"
                                    src="/images/propiedades/<%= foto.nombre %>" alt="">
                            </div>
                            <% }) %>

                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

                <p class="card-condition">
                    <%= propiedad.condicione.nombre %>
                        <button class="mas-btn" data-propiedad-id=<%=propiedad.id %>>Ver mas</button>
                </p>
                <div class="card-description">
                    <p class="card-description-type">
                        <%= propiedad.tipo.nombre %>
                    </p>
                    <p class="card-description-name">
                        <%= propiedad.nombre %>
                    </p>
                    <p class="card-description-price">
                        <%= propiedad.precio %>
                    </p>
                    <p class="card-description-specs">
                        <%= propiedad.descripcioncorta %>
                    </p>

                </div>
            </div>
            <% }) %>
    </div>





</section>



  <div class="about">
    <div class="about-cover">
      <div class="about-content">
        <img class="about-content-img" src="/images/como-montar-inmobiliaria.jpg" alt="">
        <div class="about-text">
          <h3> Quienes Somos?</h3>
          <h2>Sobre Nosotros</h2>
          <p>Somos una empresa dedicada a acompañar a nuestros clientes en el proceso de compra,
            venta, alquileres e inversiones fiduciarias.
            En nuestro asesoramiento priman el compromiso y la empatía, es por eso que nos capacitamos
            día a día, para brindarles novedades sobre nuevos proyectos de inversión, optimizando las
            posibilidades a fin de lograr la mayor efectividad posible en las operaciones; utilizando para
            ello, además, asesoría profesional, legal y técnica</p>
          
        </div>
      </div>
    </div>


  </div>

  <section class="listed-properties">
    <h2 class="main-properties-title"></h2>


    <div class="cards" id="cards">


        <% ultimasPropiedades.forEach(propiedad=> { %>
            <div class="card">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <% propiedad.fotos.forEach(foto=> { %>
                            <div class="swiper-slide">
                                <img class="swiper-slide-img"
                                    src="/images/propiedades/<%= foto.nombre %>" alt="">
                            </div>
                            <% }) %>

                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

                <p class="card-condition">
                    <%= propiedad.condicione.nombre %>
                        <button class="mas-btn" data-propiedad-id=<%=propiedad.id %>>Ver mas</button>
                </p>
                <div class="card-description">
                    <p class="card-description-type">
                        <%= propiedad.tipo.nombre %>
                    </p>
                    <p class="card-description-name">
                        <%= propiedad.nombre %>
                    </p>
                    <p class="card-description-price">
                        <%= propiedad.precio %>
                    </p>
                    <p class="card-description-specs">
                        <%= propiedad.descripcioncorta %>
                    </p>

                </div>
            </div>
            <% }) %>
    </div>





</section>

  <!-- <section class="main-properties">
    <h2 class="main-properties-title">Propiedades Destacadas</h2>

    <div class="cards" id="ultimasCards">

       <div class="card">
        <img class="card-img" src="./images/propiedades/IMG-20230225-WA0020.jpg" alt="">
        <p class="card-condition">En Venta</p>
        <div class="card-description">
          <p class="card-description-type">Residencial</p>
          <p class="card-description-name">Departamento Zona Universitaria</p>
          <p class="card-description-price">$4500</p>
          <p class="card-description-specs">3 dormitorios/ 1 baño/ 68m2</p>
        </div>
      </div>

      <div class="card">
        <img class="card-img" src="./images/propiedades/IMG-20230225-WA0020.jpg" alt="">
        <p class="card-condition">En Venta</p>
        <div class="card-description">
          <p class="card-description-type">Residencial</p>
          <p class="card-description-name">Departamento Zona Universitaria</p>
          <p class="card-description-price">$4500</p>
          <p class="card-description-specs">3 dormitorios/ 1 baño/ 68m2</p>
        </div>
      </div>

      <div class="card">
        <img class="card-img" src="./images/propiedades/IMG-20230225-WA0020.jpg" alt="">
        <p class="card-condition">En Venta</p>
        <div class="card-description">
          <p class="card-description-type">Residencial</p>
          <p class="card-description-name">Departamento Zona Universitaria</p>
          <p class="card-description-price">$4500</p>
          <p class="card-description-specs">3 dormitorios/ 1 baño/ 68m2</p>
        </div>

      </div>

      <div class="card">
        <img class="card-img" src="./images/propiedades/IMG-20230225-WA0020.jpg" alt="">
        <p class="card-condition">En Venta</p>
        <div class="card-description">
          <p class="card-description-type">Residencial</p>
          <p class="card-description-name">Departamento Zona Universitaria</p>
          <p class="card-description-price">$4500</p>
          <p class="card-description-specs">3 dormitorios/ 1 baño/ 68m2</p>
        </div>

      </div> -->

    <!-- </div> -->



  </section> -->

  <div class="search" id="search">
    <div class="search-cover">
      <div class="search-text">
        <h3>Estamos para ayudarte</h3>
        <h2>Que estas Buscando?</h2>

        <div class="search-cards">

          <div class="search-card">
            <span class="material-symbols-outlined">
              house
            </span>
            <p class="search-card-title">Casas</p>
            <div class="line"></div>
            <p class="search-card-description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est voluptates
              sint unde iste nostrum suscipit?</p>
            <button class="search-card-button" data-propiedad-tipo=Casas >Buscar Casas</button>
          </div>

          <div class="search-card">
            <span class="material-symbols-outlined">
              apartment
              </span>
            <p class="search-card-title">Departamentos</p>
            <div class="line"></div>
            <p class="search-card-description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est voluptates
              sint unde iste nostrum suscipit?</p>
            <button class="search-card-button" data-propiedad-tipo=Departamentos>Buscar Departamentos</button>
          </div>

          <div class="search-card">
            <span class="material-symbols-outlined">
              partner_exchange
              </span>
            <p class="search-card-title">Fideicomisos</p>
            <div class="line"></div>
            <p class="search-card-description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est voluptates
              sint unde iste nostrum suscipit?</p>
            <button class="search-card-button"data-propiedad-tipo=Fideicomisos>Buscar Fideicomisos</button>
          </div>
          <div class="search-card">

            <span class="material-symbols-outlined">
              foundation
              </span>
            <p class="search-card-title">Proyectos</p>
            <div class="line"></div>
            <p class="search-card-description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est voluptates
              sint unde iste nostrum suscipit?</p>
            <button class="search-card-button" data-propiedad-tipo=Proyectos>Buscar Proyectos</button>
          </div>
          <div class="search-card">

            <span class="material-symbols-outlined">
              storefront
              </span>
            <p class="search-card-title">Locales</p>
            <div class="line"></div>
            <p class="search-card-description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est voluptates
              sint unde iste nostrum suscipit?</p>
            <button class="search-card-button" data-propiedad-tipo=Locales>Buscar Locales</button>
          </div>
          <div class="search-card">

            <span class="material-symbols-outlined">
              attach_money
              </span>
            <p class="search-card-title">Tasación</p>
            <div class="line"></div>
            <p class="search-card-description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est voluptates
              sint unde iste nostrum suscipit?</p>
            <button class="search-card-button">Consultar por Tasaciones</button>
          </div>
        </div>

      </div>
    </div>


  </div>

  <% include ./ejs/footer %>

  <script src=" https://cdn.jsdelivr.net/npm/swiper@9.3.2/swiper-bundle.min.js"></script>
  <script>

      const swipers = Array.from(document.querySelectorAll('.swiper'));

      swipers.forEach(swiper => {
          new Swiper(swiper, {
              // Configuración de Swiper para cada swiper individual
              direction: 'horizontal',
              loop: true,
              // ... otras opciones
              // If we need pagination
              pagination: {
                  el: swiper.querySelector('.swiper-pagination'),
              },

              // Navigation arrows
              navigation: {
                  nextEl: swiper.querySelector('.swiper-button-next'),
                  prevEl: swiper.querySelector('.swiper-button-prev'),
              },

              // And if we need scrollbar
              scrollbar: {
                  el: swiper.querySelector('.swiper-scrollbar'),
              },
          });
      });

  </script>

  <script src="/javascripts/index.js"></script>
  <script src="/javascripts/propiedades.js"></script>

</body>



</html>